* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#controlsWrapper {
    margin: 0 auto;
    width: 850px;
    height: 59px;
    margin-bottom: 221px;
}

#controls {
    margin: 0 auto;
    width: 840px;
    height: 46px;
}

#nextMove {
    margin-right: 134px;
}

  
#about {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#offer {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#contact {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#help {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 148px;
}

#contactUs {
    display: inline-block;
    padding-top: 9px;
    padding-left: 18px;
    width: 104px;
    height: 40px;
    border: none solid 1px;
    border-radius: 8px;
    background-color: #00AC25;
    color: #FFFFFF;
    margin-top: 18px;
    text-decoration: none;
}

#instructor {   
    text-align: center;
    width: 1257px;
    height: 473px;
    margin: 0 auto;
    margin-bottom: 235px;
}

#teacher {
    display: inline-block;
    width: 1100px;
    height: 126px;
    font-size: 64px;
    font-weight: 700;
    color: #000;
    font-style: 'Inter';
    margin-bottom: 24px;
}

#normal {
    display: block;
    width: 990px;
    height: 80px;
    margin-bottom: 8px;
}

#pink {
    display: inline-block;
    width: 990px;
    height: 60px;
    color: #FF5DA3;
}

#unlock {
    margin-top: 24px;
    display: inline-block;
    width: 1100px;
    font-size: 22px;
    color: #000;
    text-align: center;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 400;
}

#enjoy {
    margin-top: 24px;
    display: inline-block;
    width: 1100px;
    color: #000;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

#opportunity {
    margin: 0 auto;
    margin-top: 24px;
    width: 530px;
    color: #6941C6;
    text-align: center;
    font-family: "Hind Vadodara";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

#become {
    display: inline-block;
    margin-top: 24px;
    width: 200px;
    height: 56px;
    padding: 16px 24px;
    background-color: #00AC25;
    border: 2px solid #00AC25;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
}

#footer {
    margin: 0 auto;
    width: 1349px;
    height: 96px;
    margin-top: 120px;
}
