#controlsWrapper {
    display: block;
    height: 59px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 216px;
}

#controls {
    width: 840px;
    margin: 0 auto; 
    display: inline-block;
    margin-bottom: 12px;
}

#nextMove {
    display: inline-block;
    margin-top: 12px;
    margin-right: 156px;
}
  
#about {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#offer {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#contact {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
}
  
#help {
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    margin-right: 148px;
}

#button {
    display: inline-block;
    margin: 0;
    margin-top: 18px;
}

#instructor {   
    display: inline-block;
    text-align: center;
    width: 1257px;
    margin: 0 auto;
}

#teacher {
    display: inline-block;
    width: 1100px;
    height: 126px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #000;
    font-family: 'Inter';
    margin-bottom: 24px;
}

#pink {
    display: inline-block;
    color: #FF5DA3;
}

#unlock {
    display: inline-block;
    width: 1100px;
    font-size: 22px;
    color: #000;
    text-align: center;
    font-family: "IBM Plex Sans KR";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
}

#enjoy {
    display: inline-block;
    width: 1100px;
    color: #000;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
}

#opportunity {
    display: inline-block;
    width: 530px;
    color: #6941C6;
    text-align: center;
    font-family: "Hind Vadodara";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
}

#become {
    display: inline-block;
    padding: 16px 24px;
    background-color: #00AC25;
    border: 2px solid #00AC25;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 535px;
}

#footer {
    display: block;
    width: 1289px;
    height: 96px;
}
